<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-8">
      <% flash.each do |name, msg| %>
        <div class="alert alert-dismissible alert-<%= name %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg %>
        </div>
      <% end %>
    </div>
  </div>
</div>
