<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">B & L</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">products</a>
      </li>
      <% if current_user&.is_admin %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Menu</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/admin/products">Edit Products</a>
          <a class="dropdown-item" href="/admin/users">Edit Users</a>
        </div>
      </li>
      <% end %>
    </ul>
    <span>

    </span>
    <span class="navbar-brand">
      <% if user_signed_in? %>
        <%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete'%>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %> |  <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </span>
  </div>
</nav>
